.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #23ec9f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.title {
  font-family: impact, haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  margin-top: -250px;
}

.arrow1{
  width: 50px;
  margin-left: -200px;
  margin-top: 150px;
}

.arrow2{
  width: 50px;
  margin-top: -100px;
}

.arrow3{
  width: 50px;
}

.arrow4{
  width: 50px;
  margin-left: 200px;
  margin-top: -100px;
}

.arrow5{
  width: 50px;
  margin-left: 200px;
}

.arrow6{
  width: 50px;
  margin-top: -200px;
}

.jam{
  width: 50px;
}